@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #382e2c; /* marrom */
  --color-light: #fdf8e6; /* claro */
  --color-primary: #29472d; /* verde escuro */
  --color-primary-light: #7dbd82; /* verde claro */
  --color-secondary: #ffca05; /* amarelo escuro */
  --color-secondary-light: #fde901; /* amarelo claro */
  --color-accent: #b16bb4; /* roxo */
  --color-accent-light: #be9fbf; /* lilás */
  /* + rosa */

  --font-sans: 'Poppins', sans-serif;
  --font-hand: 'Caveat Variable', cursive;

  --animate-squiggly: squiggly 0.5s linear infinite;

  @keyframes squiggly {
    0% {
      filter: url('#squiggly-0');
    }
    25% {
      filter: url('#squiggly-1');
    }
    50% {
      filter: url('#squiggly-2');
    }
    75% {
      filter: url('#squiggly-3');
    }
    100% {
      filter: url('#squiggly-4');
    }
  }
}

@layer base {
  body {
    @apply text-2xl font-medium;
  }
  .font-hand {
    font-weight: 400;
  }
  .dark {
    @apply text-light;
  }
}
