---
import BaseHead from '../../layouts/BaseHead.astro';
import { Button } from '../../components/react/ui/Button';
import { Link } from '../../components/react/ui/Link';
import { Polaroid } from '../../components/react/ui/Polaroid';
import { PolaroidStack } from '../../components/react/ui/PolaroidStack';

import PolaroidImage from '../../assets/images/cards/yellow_house.png';
import { getImage } from 'astro:assets';

const polaroidImage = await getImage({ src: PolaroidImage });
const polaroidImages = [
  polaroidImage.src,
  polaroidImage.src,
  polaroidImage.src,
];
---

<html lang="pt-br">
  <head>
    <BaseHead noIndex />
  </head>
  <main class="grid grid-cols-[auto_1fr] place-items-start gap-20 m-4">
    <small>Button</small>
    <div class="flex flex-row gap-4">
      <Button>Regular</Button>
      <Button color="accent">Accent</Button>
    </div>

    <small>Link</small>
    <div class="flex flex-row gap-4">
      <Link href="/components" currentPath="/components">Active</Link>
      <Link href="/#">Inactive</Link>
    </div>

    <small>Polaroid</small>
    <Polaroid src={polaroidImage.src} client:visible>Polaroid</Polaroid>

    <small>PolaroidStack</small>
    <PolaroidStack
      images={polaroidImages}
      positionsOptions={{ minDistance: 10, maxDistance: 50 }}
      client:visible
    />
  </main>
  <body> </body>
</html>
