---
import config from '../content/config/config.json';
import { IconLink } from './react/IconLink';

const today = new Date();
---
<div class="tina-footer">
	<div class="tina-banner-content"><img src="/llama.svg" alt="Tina CMS Llama Logo" /><a href="https://tina.io" target="_blank" rel="noopener noreferrer">Powered by TinaCMS</a>
	</div>
</div>
<footer class="copyright-footer">
	&copy; {today.getFullYear()}
	{config.seo.siteOwner}. All rights reserved.
	<div class="social-links">
		{
			config?.contactLinks?.map((link) => {
				return (
					<IconLink {...link} />
				);
			})
		}
	</div>
</footer>