---
import config from '../content/config/config.json';
import HeaderLink from './HeaderLink.astro';
import { IconLink } from './react/IconLink';
---

<header>
	<nav>
		<h2><a href="/">{config.seo.title}</a></h2>
		<div class="internal-links">
			{
				config.nav.map((nav) => (
					<HeaderLink href={nav.link}>{nav.title}</HeaderLink>
				))
			}
		</div>
		<div class="social-links">
			{
				config?.contactLinks?.map((link) => {
					return (
						<IconLink {...link} />
					);
				})
			}
		</div>
	</nav>
</header>