---
import BaseHead from './BaseHead.astro';
import Footer from '../components/ui/Footer.astro';
import Header from '../components/ui/Header.astro';
import config from '../content/config/config.json';

const { title = config.seo.title, description = config.seo.description } =
  Astro.props;
---

<html lang="pt-br">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-light">
    <Header />
    <main class="flex flex-col items-center justify-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
