---
import config from '../../content/config/config.json';
import { IconLink } from '../react/IconLink';

const today = new Date();
---

<footer class="text-center w-full my-20">
  Footer
  <!-- &copy; {today.getFullYear()}
  {config.seo.siteOwner}. All rights reserved.
  <div class="social-links">
    {
      config?.contactLinks?.map(link => {
        return <IconLink {...link} />;
      })
    }
  </div> -->
</footer>
